@use "../global" as *;

.l-contents {
  color: $color2;
  max-width: 1024px;
  margin: 0 auto;
  &__news {
    writing-mode: vertical-rl;
    max-width: 1024px;
    margin: 0 0 0 auto;
    margin-top: 280px;
    @include sp {
      flex-direction: column;
      padding-left: 0;
      margin-top: 88px;
      margin-left: 16px;
    }
    &__topic {
      margin-top: 77px;
      margin-right: 105px;
      border-right: 1px solid $color2;
      @include sp {
        flex-direction: column;
        margin-top: 41px;
      }

      li {
        padding: 20px 0;
        margin: 0 20px;
        border-left: 1px solid #141414;
        time {
          margin-right: 5px;
        }
      }
    }
  }
  &__value {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 180px;
    position: relative;
  }
  &__topic {
    display: flex;
    position: relative;
    margin-top: 192px;
    margin-left: 25px;
  }
}
