@use "../global" as *;

.c-box {
  color: $color1;
  left: 28%;
  top: 410px;
  @include tab {
    top: 200px;
    left: 3%;
    padding: 19px 34px;
  }
  position: absolute;
  background-color: #f1e65a;
  padding: 40px 120px;
  width: 130px;
  &2 {
    color: $color1;
    left: 35%;
    top: 410px;
    @include tab {
      top: 200px;
      left: 40%;
      padding: 19px 34px;
    }
    position: absolute;
    background-color: #b5736e;
    padding: 40px 120px;
    width: 130px;
  }
}
