@use "../global" as *;

.c-header-button {
  position: absolute;
  writing-mode: vertical-rl;

  background-color: #333333;
  color: white;
  top: 293px;
  @include tab {
    top: 300px;
  }
  left: 2%;
  margin: 17px;

  li {
    border: 1px solid white;
    height: 238px;
    margin: 10px 10px;
    text-align: center;
    @include f_around(16, regular, 40, 10);
  }
}
