$font-family: Noto Serif JP;

@mixin f_around($pixels, $weight: false, $height: false, $spacing: false) {
  font-size: $pixels * 1px;

  @if $weight {
    font-weight: $weight;
  }

  @if $height {
    line-height: $height / $pixels;
  }

  @if $spacing {
    letter-spacing: ($spacing / 1000) * 1em;
  }
}

// 呼び出し例
// ＠include f_around(フォントサイズ, 行送り , 太さ, トラッキング)
